extend layout

block content
    
    script(src="http://d3js.org/d3.v3.min.js")
    script(src="http://d3js.org/topojson.v1.min.js")
    script(src="/js/libs/datamaps.world.min.js")

    script(type='text/javascript').
        var local_data =!{JSON.stringify(userInfo)}
    script(src="/js/map.js")

    .mapview-wrapper

        #map-container


        #message-container

            ul
                each message, index in messages
                    
                    li.message-item

                        blockquote
                            p #{message.message}
                            if message.country
                                small from #{message.userDisplayName} in #{message.country}
                            else
                                small from #{message.userDisplayName}



        .footer-links
            ul
                li
                    a(href='/createmessage').icon-new-message
                     

